version: '3.8'

services:
  pocketbase:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: go-allinone-backend
    ports:
      - '8090:8090'
    volumes:
      - pb_data:/app/pb_data
    restart: unless-stopped

volumes:
  pb_data:

